// Created by Amin Keshavarz on 7/31/2017.

header(id='container')
    nav
        div(class='menu')
            ul
                li
                    a(href="#")    فروشگاه
                li
                    a(href="#")     پنل کاربری
                li
                    a(href="#")     تعرفه ها
                li
                    a(href="#")     بلاگ
                li
                    a(href="#")     تماس

        div(class='logo')
            div(class='sign-up-btn')
                a(href='#' title='ورود')    ورود یا ثبت نام
            div(class='bingo')  Bingo
    main
        div(class='content')
            div(class='title')
                span(class='bar')
                h1  بینگو برای تمام کسب کارها
            div(class='des')    کاربر با دیدن متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند

    div(class='arrow-key' id="scroll-to-content")
        i(class="fa fa-arrow-right fa-rotate-90")


