// Created by Amin Keshavarz on 7/31/2017.

header(id='container' class='intro')
    nav
        div(class='menu')
            ul
                li
                    a(href="#")    فروشگاه
                li
                    a(href="#")     پنل کاربری
                li
                    a(href="#")     تعرفه ها
                li
                    a(href="#")     بلاگ
                li
                    a(href="#")     تماس

        div(class='logo')
            div(class='sign-up-btn')
                a(href='#' title='ورود')    ورود یا ثبت نام
            div(class='bingo')  Bingo
    main
        div(class='content')
            div(class='title')
                span(class='bar')
                h1  بینگو برای تمام کسب کارها
            div(class='des')    کاربر با دیدن متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند

    div(id='bingo-intro-slider' data-delay='5000')
        div(class='slider' data-img='assets/img/img1.jpg')
        div(class='slider' data-img='assets/img/img2.jpg')
        div(class='slider' data-img='assets/img/img3.jpg')
    div(class="footer")
        div(class='social')
            span(id='instagram')
                a(href='#')
                    i(class='fa fa-instagram')
            span(id='twitter')
                a(href='#')
                    i(class='fa fa-twitter')
            span(id='linkedin')
                a(href='#')
                    i(class='fa fa-linkedin')

        div(class='arrow-key' id="scroll-to-content")
            i(class="fa fa-arrow-right fa-rotate-90")

        div(class='slider-selector')
