// Created by Amin Keshavarz on 7/31/2017.
block project-info
    - var version     = '0.0.1alpha'

doctype html
html
    head
        meta(charset='utf8')
        title بینگو -
            | #{pageName}

        // Page css assets
        block css
            link(rel='stylesheet' type="text/css" href ='assets/css/styles.css?ver=1.2.0')

        // Page Js assets
        block js
            //

    body
        if(fileName == 'contact')
            aside(class='slider')
                include map
        else
            aside(class='slider')
                include slider
        aside(class='page')
            // Header Template
            include standard-header
            // ./Header Template
            // Page Content
            block content
            // ./Page Content
        // Page js assets
        block footer
            script(src='assets/js/app.js')
            script Bingo.coverSlider(".bingo-slider");
