div(id='bingo-side-slider' data-delay='5000')
    div(class='slider' data-img='assets/img/img1.jpg')
    div(class='slider' data-img='assets/img/img2.jpg')
    div(class='slider' data-img='assets/img/img3.jpg')