// Created by Amin Keshavarz on 7/31/2017.

header(id='blog' class='standard')
    nav
        div(class='menu')
            ul
                li
                    a(href="shop.html")    فروشگاه
                li
                    a(href="login1.html")     پنل کاربری
                li
                    a(href="#")     تعرفه ها
                li
                    a(href="blog.html")     بلاگ
                li
                    a(href="#")     تماس

        div(class='logo')
            div(class='bingo')  Bingo