extends partials/layout.pug
block project-info
    -var pageName = 'صفحه نخست'
    -var fileName = 'index'
block content
    main(class='main')
        include partials/products
        section(id='sec1')
            article
                div(class='row')
                    div(class='col col--md-7')
                        div(class='title')
                            h3  بینگو پرینتی
                            p آیا به سند کاغذی از تراکنش نیاز دارید؟
                            span(class='bar')
                        div(class='description')    متنی است بی مفهوم که تـشکیل شده از کـلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند این متن واقعی و مربوط به توضیحات صفحه مورد نظر است واقعی است

                        div(class='footer')
                            div(class='price')  قیمت : 250.000 تومان
                            div(class='btn')
                                a(href='#', class='bingo-btn') فروشگاه
                                    span
                                        i(class='fa fa-arrow-left')
                    div(class='col col--md-5')
                        img(src='assets/img/pos1.png' title='' alt'' class='sec-picture')
        section(id='sec2' class='bg-gray')
            article
                div(class='row')
                    div(class='col col--md-6')
                        img(src='assets/img/mobile.png' title='' alt'' class='sec-picture')
                    div(class='col col--md-4 col--md-offset-2')
                        div(class='title')
                            h3  اپلیکیشن بینگو
                            span(class='bar')
                        div(class='description') متنی است بی مفهوم که تـشکیل شده از کـلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند

                        div(class='footer')
                            div(class='col col--md-6 store-btn')
                                a(href='#')
                                    img(src='assets/img/google.svg')
                            div(class='col col--md-6 store-btn')
                                a(href='#')
                                    img(src='assets/img/app-store.svg')
                            div(class='col col--md-6 store-btn')
                                a(href='#')
                                    img(src='assets/img/bingo.svg')
                            div(class='col col--md-6 store-btn')
                                a(href='#')
                                    img(src='assets/img/bazzar.svg')
        section(id='sec3')
            article
                div(class='row')
                    div(class='col col--md-3')
                    div(class='col col--md-6  col--md-offset-3 text--center')
                        h3  پنل کاربری
                        span(class='bar')
                        p   متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند این متن واقعی و مربوط به توضیحات صفحه مورد نظر است
                        a(href='#', class='bingo-btn') ورود به پنل
                            span
                                i(class='fa fa-arrow-left')
        div(class='panel-preview')
            div(class='dashboard')
                img(src='assets/img/dashboard.png')

        section(id='sec4' class='newsletter')
            article
                div(class='row')
                    div(class='col col--md-6 text--center')
                        h3 اشتراک در خبر نامه
                        span(class='bar')
                        p متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند این متن واقعی و مربوط به توضیحات صفحه مورد نظر است
                        div(class='input')
                            input(type='text' placeholder='ایمیل خود را وارد کنید')
                        div(class='share-btn')
                            button(type='submit') اشتراک
                                span
                                    i(class='fa fa-arrow-left')