extends partials/sign-layout.pug
block project-info
    -var pageName = 'ورود مرحله اول'
    -var fileName = ' blog'
block content
    main(class='sign-in-layout')
        section(class='login')
            h3  09123456789
            label لطفا کد تائید را وارد کنید
            span(class='bar')
            input(type='text')
            a(href='#', class='bingo-btn') ورود
                span
                    i(class='fa fa-arrow-left')