extends partials/blog-layout.pug
block project-info
    -var pageName = 'پست فلان'
    -var fileName = 'post'
block content
    main(class='blog')
        section
            article(class='post')
                div(class='title')
                    h3 سقوط از آنچه در آینه می‌بینید، به شما نزدیک‌تر است <br>  نگاهی به فیلم سقوط بزرگ
                    div(class='author') مهدی عبادی
                    div(class='date')   4 مرداد
                br
                div(class='content')
                    div(class='row')
                        div(class='col col--md-12 post-image')
                            img(src='assets/img/blog-pic.jpg')
                        div(class='col col--md-12 post-content')
                            <p>پس از پیشگویی مایکل بری در مورد سقوط بازار مسکن و ورشکستگی بانک‌ها، با درز اطلاعات در میان سرمایه‌گذاران، سه دسته از آن‌ها بر اساس پیش‌بینی‌های مایکل بری، روی اوراق قرضه سرمایه‌گذاری می‌کنند و با این‌که سود بسیار بالایی بعد از سقوط بازار مسکن به دست می‌آورند، اما این را نیز می‌دانند که این سود، حاصل شرایطی است که درنهایت به ضرر همه تمام خواهد شد. این شرایط را باز هم می‌توان مقایسه کرد با شرایط کنونی پروژه‌های بانک‌های ایران. شاید در ظاهر برخی از شرکت‌ها و بانک‌ها در برخی از پروژه‌های خود سود و درآمد داشته باشند، اما قطع به‌یقین این‌گونه سرمایه‌گذاری‌ها در پایان به نفع هیچ‌کسی نیست و تأثیر خود را بر اقتصاد ایران خواهد گذاشت. مثال بارز این‌گونه سرمایه‌گذاری‌ها، خرید و اجاره‌ی پایانه‌های فروش توسط بانک‌ها است و آمار بانک مرکزی نشان از وجود نزدیک به 4.5 میلیون دستگاه پایانه‌ی فروش دارد (برابر با تعداد پایانه‌های کشور چین با یک میلیارد و سیصد میلیون جمعیت)، درحالی‌که کمتر از 50 درصد از آن‌ها فعال هستند و منجر به درآمد بانک‌ها می‌شوند و بانک‌ها در یک رقابت غیرمعقول، بدون دریافت کارمزد از این خدمات، اقدام به ارائه‌ی جایزه به دارندگان کارت و پذیرندگان نیز می‌کنند. تمامی این اقدامات، هزینه‌ی بسیاری را به بانک‌ها تحمیل می‌کند و همان‌طور که اشاره شد، حتی اگر 0.1 درصد روی نرخ بهره تأثیر منفی داشته باشند، این افزایش نرخ بهره، دامن همه را خواهد گرفت.</p>

                    div(class='row')
                        div(class='col col--md-12 text--center share')  با دوستان‌ به اشتراک بگذارید
                            div(class='social')
                                span(id='instagram')
                                    a(href='#')
                                        i(class='fa fa-instagram')
                                span(id='twitter')
                                    a(href='#')
                                        i(class='fa fa-twitter')
                                span(id='linkedin')
                                    a(href='#')
                                        i(class='fa fa-linkedin')
        section(class='bg-gray')
            article(class='related-contents text--center')
                h3 مطالب مرتبط
                span(class='bar')
                div(class='row')
                    div(class='col col--md-6')
                        div(class='content')
                            div(class='img')
                                img(src='assets/img/blog-pic.jpg')
                            div(class='text')
                                span(class='date') 4 مرداد
                                h4 لورم ایپسوم به انگلیسی
                                p(class='color-gray')   لورم ایپسوم به انگلیسی متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم ایپسوم تصور میکند.
                    div(class='col col--md-6')
                        div(class='content')
                            div(class='img')
                                img(src='assets/img/blog-pic.jpg')
                            div(class='text')
                                span(class='date') 4 مرداد
                                h4 لورم ایپسوم به انگلیسی
                                p(class='color-gray')   لورم ایپسوم به انگلیسی متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم ایپسوم تصور میکند.
