html, body {
  font-family: $font-light;
  text-align: right;
  margin: 0;
  direction: rtl;
  line-height: 1.6;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover, a:active {
  color: $main-color;
}

span.bar {
  width: 65px;
  height: 3px;
  background: $main-color;
  display: block;
  position: relative;
  top: 19px;
  right: -5px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/working-in-thailand.jpg');
  background-position: center top;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
  color: #FFFFFF;
  a, a:hover, a:visited, a:active {
    color: #FFFFFF;
  }
  nav {
    margin-top: 20px;
    .menu {
      float: right;

      ul {
        margin-top: 25px;
        margin-right: 25px;
        list-style: none;

        li {
          float: right;
          padding: 0 15px;
          cursor: pointer;
          -webkit-transition: border-color .5s ease-in-out;
          transition: border-color .5s ease-in-out;
          border-top: 2px solid transparent;
        }
        li:hover {
          border-bottom: 2px solid $main-color;
        }
      }
    }
    .logo {
      float: left;
      width: 240px;
      margin-top: 25px;
      margin-left: 50px;

      .sign-up-btn {
        border-left: 1px solid #fff;
        display: inline-block;
        padding-left: 25px;

        a {
          border: 1px solid #FFFFFF;
          border-radius: 20px;
          padding: 2px 15px;
          -moz-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
        }
        a:hover {
          background-color: $main-color;
        }
      }
      .bingo {
        float: left;
        font-weight: bolder;
        margin-top: -5px;
        margin-right: 10px;
        font-size: 25px;
      }
    }
  }
  main {
    width: 70%;
    margin: 150px auto;
    .content {
      width: 400px;
      margin-top: 35%;

      .title {
        span.bar {
          width: 65px;
          height: 3px;
          top: 19px;
          right: -5px;
        }
      }
      .des {
      }
    }
  }
  .arrow-key {
    display: inline-block;
    width: 40px;
    height: 30px;
    background: $main-color;
    color: #fff;
    position: relative;
    right: 50%;
    padding-top: 10px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;

    .fa {
      -webkit-animation: downUp 0.45s;
      animation: downUp 0.45s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
  }
}